# Node.js dependencies
node_modules/

# Pliki builda
dist/
build/

# Tymczasowe pliki
*.log
*.tmp
*.cache

# Pliki systemowe (Mac, Windows)
.DS_Store
Thumbs.db

# Lokalne konfiguracje edytorów
.vscode/
.idea/

# Testowe raporty
coverage/
jest-cache/
jest-test-results.json

# Środowiskowe pliki
.env
.env.local
.env.development
.env.production
.env.test

# Pliki generowane przez Parcel/Webpack/Vite
.pnp
.pnp.js
.yarn/cache
.yarn/unplugged
.yarn/build-state.json
.yarn/install-state.gz
